<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481758036908-hu1vcts8sc569uv445hd47u1r7490b28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481758036908-hu1vcts8sc569uv445hd47u1r7490b28</string>
	<key>API_KEY</key>
	<string>AIzaSyA7ODVyTTC3SGqgZkqwHYlIjJEkCzw2W-A</string>
	<key>GCM_SENDER_ID</key>
	<string>481758036908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rk.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-2c143</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-2c143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481758036908:ios:508be5d223fa2b210bb009</string>
</dict>
</plist>